# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
 upload-to-gcp:
    runs-on: 'ubuntu-latest'
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
    - id: 'checkout'
      uses: 'actions/checkout@v3'
      with:
        fetch-depth: 1

    - id: 'auth'
      name: 'Authenticate to Google Cloud'
      uses: 'google-github-actions/auth@v1'
      with:
        workload_identity_provider: 'projects/356953323642/locations/global/workloadIdentityPools/ana-baranjin-com-github/providers/github'
        service_account: 'anabaranjincomgithubupload@vaulted-art-178200.iam.gserviceaccount.com'

#    - id: 'upload-folder'
#      uses: 'google-github-actions/upload-cloud-storage@v1'
#      with:
#        path: './'
#        destination: 'test-github-upload'

#    - name: 'Turn .gcloudignore into Regex for exclusion'
#      run: 'bash ./gcloudignore.sh'

    - name: 'Set up Cloud SDK'
      uses: 'google-github-actions/setup-gcloud@v1'
    
    - name: 'Sync Github content to Google Bucket'
      run: |
        chmod +x ./gcloudignore.sh
        ./gcloudignore.sh
        gsutil -m rsync -x $($GSUTIL_IGNORE) -R -d -c ./ gs://test-github-upload/

    - name: 'Show File Details'
      run: 'ls -l ./'
